@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Righteous:regular);
:root {
  --primary-color: #001f3f;
  --secondary-color: #89939e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--primary-color) !important;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}
p,
ul > li,
ol > li {
  color: var(--secondary-color);
}
